*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../Imatges/imatges_cases/fons_aigua.jpg);
  border: thin solid transparent;
}

body {
  display: flex;
  flex-direction: column;
}

body > * {
  flex: 1;
  margin: 2%;
}

.primer {
  display: flex;
  border: 1px solid transparent;
}

.primer > * {
  margin: 1%;
}

.segon {
  display: flex;
  flex-direction: column;
}

.segon-contenedor1 {
  display: flex;
  justify-content: center;
}

.segon-contenedor1 div {
  width: 60%;
  background-image: url(../Imatges/imatges_cases/lin_animada.gif);
  color: transparent;
}

.segon-contenedor2 {
  flex: 1;
}

.segon-contenedor2 article {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.segon-linea1 {
  flex: 1;
  display: flex;
}

.segon-linea2 {
  flex: 1;
}

.segon-linea1 div {
  max-height: 30%;
}

.segon-linea1 img {
  max-height: 100%;
}

.segon-linea2 div {
  height: 30%;
}

.segon-linea2 img {
  max-height: 100%;
}

.segon-contenedor2 {
  padding-top: 5%;
}
